		<a href="{{url}}"><h3 class="bookmark-list-item-title">{{title}}</h3></a>
		<a href="{{url}}" class="bookmark-list-item-url">{{url}}</a>
		<button class="bookmark-list-item-edit">edit</button>
		<button class="bookmark-list-item-delete">delete</button>
