@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

$light-gray: #e0e0e0;
$medium-gray: #cbcbcb;

* {
  list-style: none;
}

h3 {
  margin: 0;
}

.bookmark-list-item {
  background-color: $light-gray;
  border: 1px solid $medium-gray;
  margin-bottom: .5em;
  margin-left: 10%;
  padding: .5em;
  width: 70%;
}

.bookmark-list-item-title {
  border-bottom: 1px solid black;
  color: black;
  font-size: 1.3em;
  margin-bottom: .5em;
  width: 30%;
}

.bookmark-list-item a {
  text-decoration: none;
}

.bookmark-list-item-url {
  color: rgb(95,95,95);
}